*{
    box-sizing: border-box;
}
body{
    background-image: url(background5.png);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0
}
.quiz-container{
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px 2px;
    width: 600px;
    height: 400px;
    overflow:hidden;
}
h1{
    text-align: center;
    font-size: 45px;
    font-family: 'Times New Roman', Times, serif;
}
h2{
    text-align: center;
    font-size: 25px;
}
p{
    text-align: center;
    font-size: 15px;
}
.button{
    background-color: forestgreen;
    text-align: center;
    font-size: 30px;
    padding: 30px;
}
.button a
{
    font-size: xx-large;
}